<?xml version="1.0" encoding="UTF-8"?>
<EasyGameServer>
	<server>
		<debug-mode-console>1</debug-mode-console>
		<debug-mode-file>2</debug-mode-file>
		<max-connections>10</max-connections>
		<max-games>5</max-games>
		<time-between-rtt>1000</time-between-rtt>
		<disconnect-timeout>4000</disconnect-timeout>
    </server>
	<game-server>
		<path>C:\\Users\\Samue\\Desktop\\URJC\\TFG\\Builds\\Game Server\\Easy Game Server.exe</path>
	</game-server>
	<networking>
		<server-ip>192.168.1.45</server-ip>
		<base-port>21721</base-port>
		<connection-tries>3</connection-tries>
	</networking>
	<game>
		<players-per-game>2</players-per-game>
		<calculations-per-second>60</calculations-per-second>
	</game>
</EasyGameServer>