<?xml version="1.0" encoding="UTF-8"?>
<EasyGameServer>
	<server>
		<debug-mode>0</debug-mode>
		<max-connections>10</max-connections>
		<max-games>5</max-games>
		<time-between-rtt>1000</time-between-rtt>
		<disconnect-timeout>4000</disconnect-timeout>
    </server>
	<game-server>
		<path>C:\\Users\\Samue\\Desktop\\URJC\\TFG\\Builds\\Game Server\\Easy Game Server.exe</path>
	</game-server>
	<networking>
		<server-ip>192.168.1.45</server-ip>
		<base-port>21721</base-port>
	</networking>
	<client>
		<username>MegaSalsero14</username>
	</client>
	<game>
		<players-per-game>2</players-per-game>
	</game>
</EasyGameServer>